<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FacturacionElectronica.Homologacion.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BillServicePortBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="BillServicePortBinding1"/>
                <binding name="BillConsultServicePortBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="BillConsultServicePortBinding1"/>
                <binding name="BillServicePortBinding2">
                    <security mode="Transport"/>
                </binding>
                <binding name="BillServicePortBinding3">
                    <security mode="Transport"/>
                </binding>
                <binding name="BillServicePortBinding4"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.sunat.gob.pe:443/ol-ti-itcpgem-beta/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding" contract="ClientService.billService" name="BillServicePort"/>
            <endpoint address="https://www.sunat.gob.pe:443/ol-it-wsconscpegem/billConsultService" binding="basicHttpBinding" bindingConfiguration="BillConsultServicePortBinding" contract="ClientServiceConsult.billService" name="BillConsultServicePort"/>
            <endpoint address="https://e-guiaremision.sunat.gob.pe:443/ol-ti-itemision-guia-gem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding2" contract="GuiaRemisionService.billService" name="BillServicePort1"/>
        </client>
    </system.serviceModel>
    <userSettings>
        <FacturacionElectronica.Homologacion.Settings>
            <setting name="UrlServiceSunat" serializeAs="String">
                <value>https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService</value>
            </setting>
            <setting name="ServiceCurrent" serializeAs="String">
                <value>Beta</value>
            </setting>
            <setting name="UrlServiceGuia" serializeAs="String">
                <value>https://e-beta.sunat.gob.pe/ol-ti-itemision-guia-gem-beta/billService</value>
            </setting>
            <setting name="UrlRetPerc" serializeAs="String">
                <value>https://e-beta.sunat.gob.pe/ol-ti-itemision-otroscpe-gem-beta/billService</value>
            </setting>
            <setting name="ServiceRetPer" serializeAs="String">
                <value>Beta</value>
            </setting>
            <setting name="ServiceGuia" serializeAs="String">
                <value>Beta</value>
            </setting>
        </FacturacionElectronica.Homologacion.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
